<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Stats</a>
  <form class="form-inline">
    <button
      class="btn btn-outline-success"
      type="button"
      (click)="startNewGame()"
    >
      <span class="material-icons">sports_tennis</span>
    </button>
    <button
      class="btn btn-outline-success ml-3"
      type="button"
      (click)="cancel()"
    >
      <span class="material-icons">cancel</span>
    </button>
    <button
      class="btn btn-outline-success ml-3"
      type="button"
      (click)="statistics()"
    >
      <span class="material-icons">leaderboard</span>
    </button>
    <button class="btn btn-outline-success ml-3" type="button" (click)="help()">
      <span class="material-icons">help</span>
    </button>
    <button
      class="btn btn-outline-success ml-3"
      type="button"
      (click)="settings()"
    >
      <span class="material-icons">settings</span>
    </button>
  </form>
</nav>
{{ game.Name }}
<new-game (onNewGameCreated)="newGameCreated(game)"></new-game>
<!-- <game [game]="game"></game> -->
